<a href="https://colab.research.google.com/github/KadetKelly715/KadetKelly715/blob/main/mclernan_dennis_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 11: Regular Expressions

MGMT 330 - Fundamentals of Business Programming

Professor Flor

In [ ]:
# MCLERNAN, DENNIS
# MGMT 330-002
# 10/01/2023

1. IMPORT THE PANDAS DATAFRAME PACKAGE (LIBRARY)

In the code chunk below:

*   Import the pandas dataframe package
*   Run your code chunk
---

In [1]:
import pandas

2. READ IN THE DATASET, JUST PRINT THE COLUMN NAMES

(this reuses the file spike.csv from the lectures)

In the code chunk below:

*   Read *spike.csv* into a dataframe named **df**
*   Print the column names
*   Run your code chunk
---

In [6]:
fileread = 'drive/MyDrive/spike.csv'
df = pandas.read_csv(fileread)
columnnames = df.columns
print(columnnames)

Index(['id', 'text', 'created_at', 'author_id', 'conversation_id',
       'in_reply_to_user_id', 'referenced_tweets', 'attachments', 'geo',
       'context_annotations', 'entities', 'withheld', 'public_metrics',
       'possibly_sensitive', 'lang', 'source', 'tweets', 'users', 'places',
       'media', 'polls'],
      dtype='object')

3. DATA WRANGLING

In the code chunk below:

*   Import the pandas dataframe package.
*   Create a smaller data set named *df_small* that contains the columns 'id' through 'created_at'
*   print the column names
*   Save *df_small* to the file *smaller.csv*
*   Run your code chunk
---

In [10]:
import pandas
df_small = df.loc[:,'id' : 'created_at']
print(df_small)
df_small.to_csv('smaller.csv')

                       id                                               text  \
0     1496303787966877700  so Jonathan now has inherited powers too #Supe...
1     1496303786893225990  There fake powers dude! They only last as long...
2     1496303780698144773     Clark ain't killing nobody\r\n#SupermanAndLois
3     1496303774905872389  Jonathon doesn't have powers he's taking drugs...
4     1496303770120110081  RT @DigiRanma: "I came in just a couple of day...
...                   ...                                                ...
1852  1496288700505853954  Aspettando il debutto italiano, ecco cosa pens...
1853  1496288700451459073  RT @cwsupermanlois: Being a Kent comes with se...
1854  1496288700308803594                #SupermanAndLois TIME BABYYYY!!!!!!
1855  1496288699427999752  Back to the House of El! New #SupermanAndLois ...
1856  1496288699042222080  @cwsupermanlois #SupermanAndLois #SupermanAndL...

                    created_at
0     2022-02-23T01:59:57.000Z
1     2022-02-23T01:59:57.000Z
2     2022-02-23T01:59:55.000Z
3     2022-02-23T01:59:54.000Z
4     2022-02-23T01:59:53.000Z
...                        ...
1852  2022-02-23T01:00:00.000Z
1853  2022-02-23T01:00:00.000Z
1854  2022-02-23T01:00:00.000Z
1855  2022-02-23T01:00:00.000Z
1856  2022-02-23T01:00:00.000Z

[1857 rows x 3 columns]

4. FIND ALL ROWS WHOSE TEXT CONTAINS A SPECIFIC STRING

In the code chunk below:

*   Create the regex pattern for the exact string 'Clark'
*   Find all rows containing that pattern
*   Create a new dataframe, *df_clark*, with just the rows containing that pattern
*   Save the df_clark as 'clark-results.csv'
*   Print the number of entries found
*   Run your code chunk
---

In [23]:
regex_pattern = r'Clark'
rows = df_small.loc[:, 'text'].str.contains(regex_pattern)
df_clark = df_small.loc[rows, :]
df_clark.to_csv('clark-results.csv')
print(len(df_clark), 'entries found')

94 entries found

5. FIND ALL ROWS WHOSE TEXT CONTAINS A SPECIFIC WORD

In the code chunk below:

*   Create the regex pattern for the word 'Lana'
*   Find all rows containing that pattern
*   Create a new dataframe, *df_lana*, with just the rows containing that word
*   Save the df_lana as 'lana-results.csv'
*   Print the number of entries found
*   Run your code chunk
---

In [24]:
regex_pattern = r'\bLana\b'
rows = df_small.loc[:, 'text'].str.contains(regex_pattern)
df_lana = df_small.loc[rows, :]
df_lana.to_csv('lana-results.csv')
print(len(df_lana), 'entries found')

57 entries found

In [ ]:
6. FIND ALL ROWS CONTAINING URLS

In the code chunk below:

*   Create the regex pattern for a URL
*   Find all rows containing that pattern
*   Create a new dataframe, *df_url*, with just the rows containing that pattern
*   Save the df_url as 'url-results.csv'
*   Print the number of entries found
*   Run your code chunk
---

In [22]:
url_pattern = r'http.* '
rows = df_small.loc[:, 'text'].str.contains(url_pattern)
df_url = df_small.loc[rows, :]
df_url.to_csv('url-results.csv')
print(len(df_url), 'entries found')

14 entries found

When finished, download your notebook, and follow instructions on CANVAS for renaming and submitting your assignment.