<a href="https://colab.research.google.com/github/KadetKelly715/KadetKelly715/blob/main/mclernan_dennis_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 10: Basic Data Frames

MGMT 330 - Fundamentals of Business Programming

Professor Flor

In [ ]:
# [MCLERNAN, DENNIS]
# MGMT 330-[002]
# [10/1/2023]

1. IMPORT THE PANDAS DATAFRAME PACKAGE (LIBRARY)

In the code chunk below:

*   Import the pandas dataframe package.
*   Run your code chunk
---

In [1]:
import pandas

2. HARD CODE A DICTIONARY AND MAKE IT A DATA FRAME

In the code chunk below:

*   Create a data dictionary named **data**, with the following keys/values:
  *   Key: 'name', values: 'george', 'jane', 'judy', 'elroy'
  *   Key: 'age', values: 30, 29, 17, 12
  *   Key: 'nickname', values: 'geo', 'jay', 'jude', 'el'
*   Convert **data** to a data frame named **dataframe**
*   Print the data frame
* Run your code chunk
---

In [5]:
data = {
    'name' : ['george', 'jane', 'judy', 'betty'],
    'age' : [30, 29, 17, 12],
    'nickname' : ['geo', 'jay', 'jude', 'el']
}
dataframe = pandas.DataFrame(data)
print(dataframe)

     name  age nickname
0  george   30      geo
1    jane   29      jay
2    judy   17     jude
3   betty   12       el

3. ADD ROW NAMES (INDICES) TO YOUR DATA FRAME

In the code chunk below:

*   Create the following indices for your data frame in #2: 'A', 'B', 'C', 'D'
*   Print the data frame
* Run your code chunk
---

In [6]:
dataframe.index = ['A', 'B', 'C', 'D']
print(dataframe)

     name  age nickname
A  george   30      geo
B    jane   29      jay
C    judy   17     jude
D   betty   12       el

4. ACCESSING A SINGLE CELL

In the code chunk below:

*   Print the value at row 'C', column 'nickname'
*   Print the value at row 'B', column 'age'
* Run your code chunk
---

In [8]:
nickname_find = dataframe.loc['C', 'nickname']
print(nickname_find)
age_find = dataframe.loc['B', 'age']
print(age_find)

jude
29

5. ACCESSING RANGES

In the code chunk below:

*   Print rows A and C, all columns
*   Print rows B through D, and just the columns 'name' and 'nickname'
* Run your code chunk
---

In [13]:
rows2_range = dataframe.loc[['A','C'],['name', 'age', 'nickname']]
print(rows_range)
rows3_range = dataframe.loc['B' : 'D', 'name' : 'nickname']
print(rows3_range)

     name  age nickname
A  george   30      geo
C    judy   17     jude
    name  age nickname
B   jane   29      jay
C   judy   17     jude
D  betty   12       el

When finished, followed the instructions on CANVAS for downloading, naming your file, and uploading it.