<a href="https://colab.research.google.com/github/KadetKelly715/KadetKelly715/blob/main/McLernan_Dennis_8_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercises 8 & 9: Lists & Dictionaries

MGMT 330 - Fundamentals of Business Programming

Professor Flor

In [ ]:
# Dennis McLernan
# MGMT 330-002
# 9/29/23

1. CREATING A LIST

In the code chunk below:

- Create a list named **scores**, with the values: *100, 90, 80, 70, 60, 50, 40, 30, 20, 10*
- Print out the list
- Run your code chunk

In [1]:
scores = [100,90,80,70,60,50,40,30,20,10]
print(scores)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

2. AVERAGING LIST VALUES

In the code chunk below:

- Copy the code for creating the score list from question #1
- Calculate the score average
- Print the average
- Run your code chunk

In [2]:
scores = [100,90,80,70,60,50,40,30,20,10]
average = sum(scores) / len(scores)
print(average)

55.0

3. APPENDING A VALUE

In the code chunk below:

- Copy the code for creating the score list from question #1
- Print the scores before appending
- Append a 50 to the end of the list
- Print the scores after appending
- Run your code chunk

In [3]:
scores = [100,90,80,70,60,50,40,30,20,10]
print(scores)
scores.append(50)
print(scores)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 50]

4. CLEARING AN ENTIRE LIST

In the code chunk below:
- Copy the code for creating the score list from question #1
- Print the scores before clearing the list
- Clear the list
- Print the scores after clearing the list
- Run your code chunk

In [4]:
scores = [100,90,80,70,60,50,40,30,20,10]
print(scores)
del scores[:]
print(scores)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[]

5. COPYING AN ENTIRE LIST

In the code chunk below:
- Copy the code for creating the score list from question #1
- Print the scores list
- Copy the list into another variable named **scores2**
- Print the scores2 list
- Run your code chunk

In [6]:
scores = [100,90,80,70,60,50,40,30,20,10]
print(scores)
scores2 = scores
print(scores2)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

6. COUNTING LIST ITEMS

In the code chunk below:
- Copy the code for creating the score list from question #1
- Print the number of perfect scores
- Run your code chunk

In [8]:
scores = [100,90,80,70,60,50,40,30,20,10]
count=0
for score in scores:
  perfect_score=100
  if score == perfect_score:
    count = count + 1
print(count)

1

7. EXTENDING A LIST

In the code chunk below:
- Copy the code for creating the score list from question #1
- Print the scores before extending the list
- Extend the list with the values 9, 8, 7
- Print the scores after extending the list
- Run your code chunk

In [9]:
scores = [100,90,80,70,60,50,40,30,20,10]
print(scores)
scores2 = [9,8,7]
scores.extend(scores2)
print(scores)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 9, 8, 7]

8. FINDING THE INDEX OF A VALUE

In the code chunk below:
- Copy the code for creating the score list from question #1
- Print the location of value 90
- Run your code chunk

In [10]:
scores = [100,90,80,70,60,50,40,30,20,10]
scores.index(90)

1

9. POPPING-OFF THE LAST VALUE

In the code chunk below:
- Copy the code for creating the score list from question #1
- Print the scores before popping the last value from the list
- Pop the last value
- Print the scores after popping the last value from the list
- Run your code chunk

In [14]:
scores = [100,90,80,70,60,50,40,30,20,10]
print(scores)
scores2 = scores.pop(9)
print(scores)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[100, 90, 80, 70, 60, 50, 40, 30, 20]

10. REMOVING A VALUE FROM THE LIST

In the code chunk below:
- Copy the code for creating the score list from question #1
- Print the scores before removing a value from the list
- Remove the value 60 from the list
- Print the scores after removing this value from the  list
- Run your code chunk

In [16]:
scores = [100,90,80,70,60,50,40,30,20,10]
print(scores)
scores.remove(60)
print(scores)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[100, 90, 80, 70, 50, 40, 30, 20, 10]

11. REVERSING A LIST

In the code chunk below:
- Copy the code for creating the score list from question #1
- Print the scores before reversing the list
- Reverse the list
- Print the scores after reversing the list
- Run your code chunk

In [32]:
scores = [100,90,80,70,60,50,40,30,20,10]
print(scores)
scores = list(reversed(scores))
print(scores)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

12. SORTING A LIST

In the code chunk below:
- Copy the code for creating the score list from question #1
- Print the scores before sorting the list
- Sort the list in ascending order
- Print the sorted list
- Sort the list in descending order
- Print the sorted list
- Run your code chunk

In [36]:
scores = [100,90,80,70,60,50,40,30,20,10]
print(scores)
scores.sort()
print(scores)
scores.sort(reverse = True)
print(scores)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

13. INSERTING AN ITEM BEFORE A LOCATION (INDEX)

In the code chunk below:
- Copy the code for creating the score list from question #1
- Print the scores before inserting an item into the list
- Insert at position 3 the value 30
- Print the scores after inserting the item into the list
- Run your code chunk

In [43]:
scores = [100,90,80,70,60,50,40,30,20,10]
print(scores)
scores2 = scores[3:]
del scores[3:]
scores.append(30)
scores.extend(scores2)
print(scores)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[100, 90, 80, 30, 70, 60, 50, 40, 30, 20, 10]

14. PRINTING A LIST ITEM AT A SPECIFIC LOCATION AND PRINTING A SLICE

In the code chunk below:
- Copy the code for creating the score list from question #1
- Print the item at index 7
- Print the slice of items from index 2 through index 4
- Run your code chunk

In [45]:
scores = [100,90,80,70,60,50,40,30,20,10]
print(scores[7])
print(scores[2:4])

30
[80, 70]

15. CREATING A DICTIONARY AND PRINTING KEYS & ITEMS

In the code chunk below:
- Create a dictionary name **score_dict**, based on the list values from question #1, and label the values 'score1', 'score2', ..., 'score10'
- Print all the keys in your dictionary
- Print all the items in your dictionary
- Run your code chunk

In [51]:
score_dict = dict()
score_dict['score1'] = 100
score_dict['score2'] = 90
score_dict['score3'] = 80
score_dict['score4'] = 70
score_dict['score5'] = 60
score_dict['score6'] = 50
score_dict['score7'] = 40
score_dict['score8'] = 30
score_dict['score9'] = 20
score_dict['score10'] = 10
print(score_dict['score1'])
print(score_dict['score2'])
print(score_dict['score3'])
print(score_dict['score4'])
print(score_dict['score5'])
print(score_dict['score6'])
print(score_dict['score7'])
print(score_dict['score8'])
print(score_dict['score9'])
print(score_dict['score10'])
print(score_dict)

100
90
80
70
60
50
40
30
20
10
{'score1': 100, 'score2': 90, 'score3': 80, 'score4': 70, 'score5': 60, 'score6': 50, 'score7': 40, 'score8': 30, 'score9': 20, 'score10': 10}